body{
    background-image: url("../images/bkg.jpg");
    background-color: #cccccc;
    color: rgb(86,33,16);
    background-size: cover;
    background-repeat: no-repeat;
}

.head{
    margin-top: 80px;

}

.playerBtn {
    margin-top:100px;
    margin-left: 180px;
}
